{% extends 'base.html.twig' %}

{% block body %}
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium" uk-grid>
                <div class="uk-width-1-1 uk-width-1-4@m tm-aside-column">
                    <div class="uk-card uk-card-default uk-card-small tm-ignore-container"
                         uk-sticky="offset: 90; bottom: true; media: @m;">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                                <section>
                                    <div class="uk-width-1-3 uk-width-1-4@s uk-width-1-2@m uk-margin-auto uk-visible-toggle uk-position-relative uk-border-circle uk-overflow-hidden uk-light">
                                        <img class="uk-width-1-1" src="images/avatar.jpg"><a
                                                class="uk-link-reset uk-overlay-primary uk-position-cover uk-hidden-hover"
                                                href="#">
                                            <div class="uk-position-center"><span
                                                        uk-icon="icon: camera; ratio: 1.25;"></span></div>
                                        </a></div>
                                </section>
                                <div class="uk-text-center">
                                    <div class="uk-h4 uk-margin-remove">Thomas Bruns</div>
                                    <div class="uk-text-meta">Последний вход 15 минут назад</div>
                                </div>
                                <div>
                                    <div class="uk-grid-small uk-flex-center" uk-grid>
                                        <div><a class="uk-button uk-button-default uk-button-small"
                                                href="settings.html"><span class="uk-margin-xsmall-right"
                                                                           uk-icon="icon: cog; ratio: .75;"></span><span>Настройки</span></a>
                                        </div>
                                        <div>
                                            <a class="uk-button uk-button-default uk-button-small" href="{{ path('front_security_logout')}}"
                                                    title="Log out"><span
                                                        uk-icon="icon: sign-out; ratio: .75;"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <nav>
                                <ul class="uk-nav uk-nav-default tm-nav">
                                    <li><a href="account.html">Заказы
                                            <span>(2)</span></a></li>
                                    <li><a href="favorites.html">Закладки
                                            <span>(3)</span></a></li>
                                    <li class="uk-active"><a href="personal.html">Информация</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-width-expand@m">
                    <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                        <header class="uk-card-header"><h1 class="uk-h2">Информация</h1></header>
                        <div class="uk-card-body">
                            <form class="uk-form-stacked">
                                <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                                    <fieldset class="uk-fieldset">
                                        <legend class="uk-h4">Контактная информация</legend>
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s"
                                             uk-grid>
                                            <div><label>
                                                    <div class="uk-form-label">Имя</div>
                                                    <input class="uk-input uk-disabled" type="text" value="Thomas"></label>
                                            </div>
                                            <div><label>
                                                    <div class="uk-form-label">Фамилия</div>
                                                    <input class="uk-input uk-disabled" type="text" value="Bruns"></label>
                                            </div>
                                            <div><label>
                                                    <div class="uk-form-label">Номер телефона</div>
                                                    <input class="uk-input uk-disabled" type="tel"
                                                           value="{{ ("+" ~ app.user.username)|phone }}"></label></div>
                                            <div><label>
                                                    <div class="uk-form-label">Дата рождения</div>
                                                    <input class="uk-input uk-disabled" type="date"
                                                           value="Не указана"></label></div>
                                        </div>
                                    </fieldset>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}