{% extends 'base.html.twig' %}

{% block body %}
    <section class="uk-section uk-section-default uk-section-small" style="min-height: 650px;">
        <div class="uk-container">
            <form class="uk-card uk-card-default uk-card-small tm-ignore-container" method="post">
                <header class="uk-card-header">
                    <h1 class="uk-h2">Регистрация. Шаг 1</h1>
                </header>
                <div class="uk-card-body">
                    <div class="uk-form-stacked">
                        <div class="uk-grid-medium uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                            {% if error %}
                                <div>{{ error }}</div>
                            {% endif %}
                            <fieldset class="uk-fieldset uk-first-column">
                                <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@s uk-grid" uk-grid="">
                                    <div class="uk-first-column">
                                        <label>
                                            <div class="uk-form-label">Номер телефона</div>
                                            <input class="uk-input" type="hidden" value="RU" name="country_code">
                                            <input class="uk-input" type="text" value="" placeholder="+79781116622" name="phone">
                                        </label>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
                <div class="uk-card-footer uk-text-center">
                    <button class="uk-button uk-button-primary" type="submit">Отправить код</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}