{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .ce-block__content, .ce-toolbar__content {
            max-width: calc(100% - 80px) !important;
        }

        .cdx-block {
            max-width: 100% !important;
        }


        #upload-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 400px;
            height: 400px;
            outline: 2px dashed #5d5d5d;
            outline-offset: -12px;
            background-color: #e0f2f7;
            font-family: 'Segoe UI';
            color: #1f3c44;
        }

        #upload-container img {
            width: 40%;
            margin-bottom: 20px;
            user-select: none;
        }

        #upload-container label {
            font-weight: bold;
        }

        #upload-container label:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        #upload-container div {
            position: relative;
            z-index: 10;
        }

        #upload-container input[type=file] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            position: absolute;
            z-index: -10;
        }

        #upload-container label.focus {
            outline: 1px solid #0078d7;
            outline: -webkit-focus-ring-color auto 5px;
        }

        #upload-container.dragover {
            background-color: #fafafa;
            outline-offset: -17px;
        }

        #drop-region {
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
            padding: 60px 40px;
            text-align: center;
            cursor: pointer;
            transition: .3s;
        }

        #drop-region:hover {
            box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
        }

        #image-preview {
            margin-top: 20px;
        }

        #image-preview .image-view {
            display: inline-block;
            position: relative;
            margin-right: 13px;
            margin-bottom: 13px;
        }

        #image-preview .image-view img {
            max-width: 100px;
            max-height: 100px;
        }

        #image-preview .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            z-index: 2;
            background: rgba(255, 255, 255, 0.5);
        }
    </style>
    <section class="uk-section uk-section-small">
        <div class="uk-container uk-container-small ">
            <div class="uk-grid-margin-large uk-grid" uk-grid="">

                <div class="uk-width-1-1 ">
                    <form class="uk-card uk-card-default" method="post">
                        <div id="image-container">


                        </div>
                        <div class="uk-card-body">

                            <div class="uk-form-stacked">
                                <header class="uk-card-header" style="padding-left: 0">
                                    <h2 class="uk-h4">Основная информация</h2>
                                </header>
                                <div class="uk-grid-medium uk-child-width-1-1 uk-grid uk-grid-stack uk-grid-margin"
                                     uk-grid="">

                                    <fieldset class="uk-fieldset uk-first-column ">
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@s uk-grid"
                                             uk-grid="">
                                            <div class="uk-first-column">
                                                <label>
                                                    <div class="uk-form-label">Заголовок</div>
                                                    <input class="uk-input" type="text" name="title"
                                                           placeholder="Заголовок вашего объявления">
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="uk-fieldset uk-first-column">
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@s uk-grid"
                                             uk-grid="">
                                            <div class="uk-first-column">
                                                <label>
                                                    <div class="uk-form-label">Тип</div>
                                                    <select class="uk-select" name="type_id">
                                                        <option value="1">Купля</option>
                                                        <option value="2">Продажа</option>
                                                        <option value="3">Обмен</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="uk-fieldset uk-first-column">
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@s uk-grid"
                                             uk-grid="">
                                            <div class="uk-first-column">
                                                <label>
                                                    <div class="uk-form-label">Категория</div>
                                                    <select class="uk-select" name="category_uuid">
                                                        {% for category in categories %}
                                                            <option value="{{ category.uuid }}">{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="uk-fieldset uk-first-column">
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@s uk-grid"
                                             uk-grid="">
                                            <div class="uk-first-column" style="">
                                                <label>
                                                    <div class="uk-form-label">Фотографии</div>
                                                </label>
                                                <div id="drop-region">
                                                    <div class="drop-message">
                                                        Перетащите изображение или кликните для загрузки
                                                    </div>
                                                    <div id="image-preview"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="uk-fieldset uk-first-column">
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@s uk-grid"
                                             uk-grid="">
                                            <div class="uk-first-column">
                                                <label>
                                                    <div class="uk-form-label">Описание</div>
                                                    <textarea class="uk-textarea" name="description"></textarea>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="uk-fieldset uk-first-column">
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@s uk-grid"
                                             uk-grid="">
                                            <div class="uk-first-column">
                                                <label>
                                                    <div class="uk-form-label">Цена</div>
                                                    <input class="uk-input" type="number" name="price">
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>
                                <header class="uk-card-header uk-grid-margin" style="padding-left: 0">
                                    <h2 class="uk-h4">Место сделки</h2>
                                </header>
                                <div class="uk-grid-medium uk-child-width-1-1 uk-grid uk-grid-stack uk-grid-margin"
                                     uk-grid="">

                                    <fieldset class="uk-fieldset uk-first-column ">
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@s uk-grid"
                                             uk-grid="">
                                            <div class="uk-first-column">
                                                <label>
                                                    <div class="uk-form-label">Адрес</div>
                                                    <input class="uk-input" type="text" value="" name="address">
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>
                                <header class="uk-card-header uk-grid-margin" style="padding-left: 0">
                                    <h2 class="uk-h4">Контакты</h2>
                                </header>
                                <div class="uk-grid-medium uk-child-width-1-1 uk-grid uk-grid-stack uk-grid-margin"
                                     uk-grid="">

                                    <fieldset class="uk-fieldset uk-first-column ">
                                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-1@s uk-grid"
                                             uk-grid="">
                                            <div class="uk-first-column">
                                                <label>
                                                    <div class="uk-form-label">Телефон</div>
                                                    <input class="uk-input" type="text" value="" name="contact">
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>

                                </div>
                            </div>

                        </div>
                        <div class="uk-card-footer uk-text-center">
                            <button class="uk-button uk-button-primary" type="submit">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('Resources/js/announcementImageUpload.js') }}">
{% endblock %}