{% extends 'base.html.twig' %}

{% block body %}
    {% set query = app.request.query.all %}
    <main>
        <section class="uk-section uk-section-small">
            <div class="uk-container">
                <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                    <div class="uk-text-center">
                        <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
                            <li><a href="{{ path('front_home') }}">Главная</a></li>
                            <li><a href="{{ path('front_announcement_filter') }}"><span>Категории</span></a></li>
                        </ul>
                        <h1 class="uk-margin-small-top uk-margin-remove-bottom">{% if currentCategory %}{{ currentCategory.name }}{% else %}Все объявления{% endif %}</h1>
                        <div class="uk-text-meta uk-margin-xsmall-top">{{ result|length }} {{ result|length|declension(['объявление', 'объявления', 'объявлений']) }}</div>
                    </div>
                    <div>
                        <form method="get" class="uk-grid-medium" uk-grid>
                            <input name="category" value="{{ app.request.query.get('category') }}" type="hidden">
                            <aside class="uk-width-1-4 tm-aside-column tm-filters" id="filters"
                                   uk-offcanvas="overlay: true; container: false;">
                                <div class="uk-offcanvas-bar uk-padding-remove">
                                    <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column uk-height-1-1">
                                        <header class="uk-card-header uk-flex uk-flex-middle">
                                            <div class="uk-grid-small uk-flex-1" uk-grid>
                                                <div class="uk-width-expand">
                                                    <div class="uk-h3">Фильтры</div>
                                                </div>
                                                <button class="uk-offcanvas-close" type="button" uk-close></button>
                                            </div>
                                        </header>
                                        <div class="uk-margin-remove uk-flex-1 uk-overflow-auto"
                                             uk-accordion="multiple: true; targets: &gt; .js-accordion-section"
                                             style="flex-basis: auto">
                                            {% if categories|length %}
                                                <section class="uk-card-small uk-card-body"><h4
                                                            class="uk-margin-small-bottom">Категории</h4>
                                                    <ul class="uk-nav uk-nav-default">
                                                        {% for category in categories %}
                                                            {% set queryCategory = app.request.query.all|merge({'category': category.uuid|url_encode}) %}
                                                            <li>
                                                                <a href="{{ path('front_announcement_filter', queryCategory) }}">{{ category.name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </section>
                                            {% endif %}
                                            <section class="uk-card-body uk-open js-accordion-section"><h4
                                                        class="uk-accordion-title uk-margin-remove">Цена</h4>
                                                <div class="uk-accordion-content">
                                                    <div class="uk-grid-small uk-child-width-1-2 uk-text-small"
                                                         uk-grid>
                                                        <div>
                                                            <div class="uk-inline"><span
                                                                        class="uk-form-icon uk-text-xsmall">от</span><input
                                                                        name="min_price"
                                                                        class="uk-input" type="text"
                                                                        placeholder=""
                                                                        value="{{ app.request.query.get('min_price') }}">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="uk-inline"><span
                                                                        class="uk-form-icon uk-text-xsmall">до</span><input
                                                                        name="max_price"
                                                                        class="uk-input" type="text"
                                                                        placeholder=""
                                                                        value="{{ app.request.query.get('max_price') }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            {#                                            <section class="uk-card-body js-accordion-section uk-open"><h4 #}
                                            {#                                                        class="uk-accordion-title uk-margin-remove">Brands</h4> #}
                                            {#                                                <div class="uk-accordion-content"> #}
                                            {#                                                    <ul class="uk-list tm-scrollbox"> #}
                                            {#                                                        <li><input class="tm-checkbox" id="brand-1" name="brand" #}
                                            {#                                                                   value="1" type="checkbox"><label #}
                                            {#                                                                    for="brand-1"><span>Acer #}
                                            {# <span class="uk-text-meta uk-text-xsmall">177</span></span></label></li> #}
                                            {#                                                        <li><input class="tm-checkbox" id="brand-2" name="brand" #}
                                            {#                                                                   value="2" type="checkbox"><label #}
                                            {#                                                                    for="brand-2"><span>Apple #}
                                            {# <span class="uk-text-meta uk-text-xsmall">18</span></span></label></li> #}
                                            {#                                                        <li><input class="tm-checkbox" id="brand-3" name="brand" #}
                                            {#                                                                   value="3" type="checkbox"><label #}
                                            {#                                                                    for="brand-3"><span>ASUS #}
                                            {# <span class="uk-text-meta uk-text-xsmall">150</span></span></label></li> #}
                                            {#                                                        <li><input class="tm-checkbox" id="brand-4" name="brand" #}
                                            {#                                                                   value="4" type="checkbox"><label #}
                                            {#                                                                    for="brand-4"><span>Dell #}
                                            {# <span class="uk-text-meta uk-text-xsmall">170</span></span></label></li> #}
                                            {#                                                        <li><input class="tm-checkbox" id="brand-5" name="brand" #}
                                            {#                                                                   value="5" type="checkbox"><label #}
                                            {#                                                                    for="brand-5"><span>HP #}
                                            {# <span class="uk-text-meta uk-text-xsmall">498</span></span></label></li> #}
                                            {#                                                        <li><input class="tm-checkbox" id="brand-6" name="brand" #}
                                            {#                                                                   value="6" type="checkbox"><label #}
                                            {#                                                                    for="brand-6"><span>MSI #}
                                            {# <span class="uk-text-meta uk-text-xsmall">54</span></span></label></li> #}
                                            {#                                                        <li><input class="tm-checkbox" id="brand-7" name="brand" #}
                                            {#                                                                   value="7" type="checkbox"><label #}
                                            {#                                                                    for="brand-7"><span>Samsung #}
                                            {# <span class="uk-text-meta uk-text-xsmall">1</span></span></label></li> #}
                                            {#                                                        <li><input class="tm-checkbox" id="brand-8" name="brand" #}
                                            {#                                                                   value="8" type="checkbox"><label #}
                                            {#                                                                    for="brand-8"><span>Sony #}
                                            {# <span class="uk-text-meta uk-text-xsmall">1</span></span></label></li> #}
                                            {#                                                    </ul> #}
                                            {#                                                </div> #}
                                            {#                                            </section> #}
                                            <div class="uk-card-body">
                                                <button type="submit"
                                                        class="uk-button uk-button-success uk-width-1-1"><span
                                                            class="uk-margin-xsmall-right"
                                                            uk-icon="icon: close; ratio: .75;"></span>Применить
                                                </button>
{#                                                <button type="reset" class="uk-button uk-button-default uk-width-1-1"#}
{#                                                        style="margin-top: 8px"><span#}
{#                                                            class="uk-margin-xsmall-right"#}
{#                                                            uk-icon="icon: close; ratio: .75;"></span>Сбросить фильтры#}
{#                                                </button>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <div class="uk-width-expand">
                                <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                                    <div>
                                        <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                            <div class="uk-grid-collapse uk-child-width-1-1" id="products" uk-grid>
                                                <div class="uk-card-header">
                                                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                                                        <div class="uk-width-1-1 uk-width-expand@s uk-flex uk-flex-center uk-flex-left@s uk-text-small">
                                                            <span class="uk-margin-small-right uk-text-muted">Сортировка:</span>
                                                            <ul class="uk-subnav uk-margin-remove">
                                                                {% set querySortRelevance = app.request.query.all|merge({'sort': 1}) %}
                                                                <li class="{% if app.request.query.get('sort') == 1 %}uk-active{% endif %} uk-padding-remove">
                                                                    <a
                                                                            class="uk-text-lowercase"
                                                                            href="{{ path('front_announcement_filter', querySortRelevance) }}">релевантные<span
                                                                                class="uk-margin-xsmall-left"
                                                                                uk-icon="icon: chevron-down; ratio: .5;"></span></a>
                                                                </li>
                                                                {% set querySortPrice = app.request.query.all|merge({'sort': 2}) %}

                                                                <li class="{% if app.request.query.get('sort') == 2 %}uk-active{% endif %}">
                                                                    <a class="uk-text-lowercase"
                                                                       href="{{ path('front_announcement_filter', querySortPrice) }}">цена</a>
                                                                </li>
                                                                {% set querySortNew = app.request.query.all|merge({'sort': 3}) %}

                                                                <li class="{% if app.request.query.get('sort') == 3 %}uk-active{% endif %}">
                                                                    <a class="uk-text-lowercase"
                                                                       href="{{ path('front_announcement_filter', querySortNew) }}">новые</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-center uk-flex-middle">
                                                            <button class="uk-button uk-button-default uk-button-small uk-hidden@m"
                                                                    uk-toggle="target: #filters"><span
                                                                        class="uk-margin-xsmall-right"
                                                                        uk-icon="icon: settings; ratio: .75;"></span>Фильтры
                                                            </button>
                                                            <div class="tm-change-view uk-margin-small-left">
                                                                <ul class="uk-subnav uk-iconnav js-change-view"
                                                                    uk-switcher>
                                                                    <li><a class="uk-active" data-view="grid"
                                                                           uk-icon="grid" uk-tooltip="Grid"></a>
                                                                    </li>
                                                                    <li><a data-view="list" uk-icon="list"
                                                                           uk-tooltip="List"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    {% if result|length %}

                                                        <div class="uk-grid-collapse uk-child-width-1-3 js-products-grid uk-grid tm-products-list uk-grid-stack"
                                                             uk-grid="">
                                                            {% for announcement in result %}
                                                                <article class="tm-product-card uk-first-column">
                                                                    <div class="tm-product-card-media">
                                                                        <div class="tm-ratio tm-ratio-4-3"><a
                                                                                    class="tm-media-box"
                                                                                    href="{{ path('front_announcement_show', {id: announcement.uuid}) }}">
                                                                                <div class="tm-product-card-labels">
                                                                                    {#                                                                                <span #}
                                                                                    {#                                                                                        class="uk-label uk-label-warning">top selling</span><span #}
                                                                                    {#                                                                                        class="uk-label uk-label-danger">trade-in</span> #}
                                                                                </div>
                                                                                <figure class="tm-media-box-wrap"><img
                                                                                            src="{% if announcement.mainImageLink %}{{ announcement.mainImageLink }}{% else %}{{ asset('Resources/img/noimage.png') }}{% endif %}"
                                                                                            alt="{{ announcement.title }}">
                                                                                </figure>
                                                                            </a></div>
                                                                    </div>
                                                                    <div class="tm-product-card-body">
                                                                        <div class="tm-product-card-info">
                                                                            <div class="uk-text-meta uk-margin-xsmall-bottom">
                                                                                {{ announcement.category }}
                                                                            </div>
                                                                            <h3 class="tm-product-card-title"><a
                                                                                        class="uk-link-heading"
                                                                                        href="{{ path('front_announcement_show', {id: announcement.uuid}) }}">{{ announcement.title }}</a>
                                                                            </h3>
                                                                            <div class="uk-list uk-text-small tm-product-card-properties">
                                                                                {{ announcement.body }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="tm-product-card-shop">
                                                                            <div class="tm-product-card-prices">
                                                                                {#                                                                        <del class="uk-text-meta">$1899.00</del> #}
                                                                                <div class="tm-product-card-price">
                                                                                    ₽{{ announcement.price }}.00
                                                                                </div>
                                                                            </div>
                                                                            <div class="tm-product-card-add">
                                                                                <div class="uk-text-meta tm-product-card-actions">
                                                                                    <a class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                                                                       title="Add to favorites"><span
                                                                                                uk-icon="icon: heart; ratio: .75;"
                                                                                                class="uk-icon"><svg
                                                                                                    width="15"
                                                                                                    height="15"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <path
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.03"
                                                                                                        d="M10,4 C10,4 8.1,2 5.74,2 C3.38,2 1,3.55 1,6.73 C1,8.84 2.67,10.44 2.67,10.44 L10,18 L17.33,10.44 C17.33,10.44 19,8.84 19,6.73 C19,3.55 16.62,2 14.26,2 C11.9,2 10,4 10,4 L10,4 Z"></path></svg></span><span
                                                                                                class="tm-product-card-action-text">Добавить в закладки</span></a>
                                                                                </div>
                                                                                <a href="{{ path('front_announcement_show', {id: announcement.uuid}) }}"
                                                                                   class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart">
                                                                            <span class="tm-product-card-add-button-icon uk-icon"
                                                                                  uk-icon="cart"><svg width="20"
                                                                                                      height="20"
                                                                                                      viewBox="0 0 20 20"
                                                                                                      xmlns="http://www.w3.org/2000/svg"> <circle
                                                                                            cx="7.3" cy="17.3"
                                                                                            r="1.4"></circle> <circle
                                                                                            cx="13.3" cy="17.3"
                                                                                            r="1.4"></circle> <polyline
                                                                                            fill="none" stroke="#000"
                                                                                            points="0 2 3.2 4 5.3 12.5 16 12.5 18 6.5 8 6.5"></polyline></svg></span><span
                                                                                            class="tm-product-card-add-button-text">Подробнее</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            {% endfor %}
                                                        </div>

                                                    {% else %}
                                                    <div class="uk-grid-collapse uk-child-width-1-1 js-products-grid uk-grid tm-products-list uk-grid-stack"
                                                         uk-grid="">
                                                        <div class="uk-card-body" style="text-align: center">
                                                            <span>Нет результатов по вашему запросу.</span>
                                                        </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                {#                                                <div> #}
                                                {#                                                    <button class="uk-button uk-button-default uk-button-large uk-width-1-1" #}
                                                {#                                                            style="border-top-left-radius: 0; border-top-right-radius: 0;"> #}
                                                {#                                                            <span class="uk-margin-small-right" #}
                                                {#                                                                  uk-icon="icon: plus; ratio: .75;"></span><span>Load more</span> #}
                                                {#                                                    </button> #}
                                                {#                                                </div> #}
                                            </div>
                                        </div>
                                    </div>
                                    {% if not paginator.isEmpty and paginator.getLastPage() != 1 %}
                                        <div class="uk-grid-margin uk-first-column">
                                            <ul class="uk-pagination uk-flex-center">
                                                {% for prevPage in paginator.getPrevPages() %}
                                                    {% set params = app.request.query|merge({'page': prevPage})|merge(app.request.attributes.get('_route_params')) %}
                                                    <li>
                                                        <a href="{{ path('front_announcement_filter', params) }}">{{ prevPage }}</a>
                                                    </li>
                                                {% endfor %}
                                                <li class="uk-active">
                                                    <span>{{ app.request.query.get('page', 1) }}</span></li>
                                                {% for nextPage in paginator.getNextPages() %}
                                                    {% set params = app.request.query|merge({'page': nextPage})|merge(app.request.attributes.get('_route_params')) %}
                                                    <li>
                                                        <a href="{{ path('front_announcement_filter', params) }}">{{ nextPage }}</a>
                                                    </li>
                                                {% endfor %}
                                                {% if paginator.hasLast() %}
                                                    {% set params = app.request.query|merge({'page': paginator.lastPage})|merge(app.request.attributes.get('_route_params')) %}

                                                    <li class="uk-disabled"><span>…</span></li>
                                                    <li>
                                                        <a href="{{ path('front_announcement_filter', params) }}">{{ paginator.lastPage }}</a>
                                                    </li>
                                                {% endif %}

                                                {% if paginator.hasNext() %}
                                                    {% set params = app.request.query|merge({'page': paginator.next})|merge(app.request.attributes.get('_route_params')) %}

                                                    <li><a href="{{ path('front_announcement_filter', params) }}"><span
                                                                    uk-pagination-next=""
                                                                    class="uk-pagination-next uk-icon"><svg
                                                                        width="7"
                                                                        height="12"
                                                                        viewBox="0 0 7 12"
                                                                        xmlns="http://www.w3.org/2000/svg"><polyline
                                                                            fill="none" stroke="#000" stroke-width="1.2"
                                                                            points="1 1 6 6 1 11"></polyline></svg></span></a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}

{% block javascript %}

{% endblock %}