{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="uk-section uk-section-small">
            <div class="uk-container">
                <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                    <div class="uk-text-center">
                        <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
                            <li><a href="{{ path('front_home') }}">Главная</a></li>
                            <li>
                                <a href="{{ path('front_announcement_filter', {category: currentCategory.uuid|url_encode}) }}">{{ currentCategory.name }}</a>
                            </li>
                            <li><span>{{ announcement.title }}</span></li>
                        </ul>
                        <h1 class="uk-margin-small-top uk-margin-remove-bottom">{{ announcement.title }}</h1>
                    </div>
                    <div>
                        <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                            <div>
                                <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                    <div class="uk-grid-small uk-grid-collapse uk-grid-match" uk-grid>
                                        <div class="uk-width-1-1 uk-width-expand@m">
                                            <div class="uk-grid-collapse uk-child-width-1-1"
                                                 uk-slideshow="finite: true; ratio: 4:3;" uk-grid>
                                                <div>
                                                    <ul class="uk-slideshow-items" uk-lightbox>
{#                                                        <li><a class="uk-card-body tm-media-box tm-media-box-zoom"#}
{#                                                               href="{% if announcement.mainImageLink %}{{ announcement.mainImageLink }}{% else %}{{ asset('Resources/img/noimage.png') }}{% endif %}">#}
{#                                                                <figure class="tm-media-box-wrap"><img#}
{#                                                                            src="{% if announcement.mainImageLink %}{{ announcement.mainImageLink }}{% else %}{{ asset('Resources/img/noimage.png') }}{% endif %}"#}
{#                                                                            alt="{{ announcement.title }}">#}
{#                                                                </figure>#}
{#                                                            </a></li>#}

                                                        {% for image in images %}
                                                        <li><a class="uk-card-body tm-media-box tm-media-box-zoom"
                                                               href="{{ image.getUrl() }}">
                                                                <figure class="tm-media-box-wrap"><img
                                                                            src="{{ image.getUrl() }}"
                                                                            alt="{{ announcement.title }}">
                                                                </figure>
                                                            </a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {#                                                <div> #}
                                                {#                                                    <div class="uk-card-body uk-flex uk-flex-center"> #}
                                                {#                                                        <div class="uk-width-1-2 uk-visible@s"> #}
                                                {#                                                            <div uk-slider="finite: true"> #}
                                                {#                                                                <div class="uk-position-relative"> #}
                                                {#                                                                    <div class="uk-slider-container"> #}
                                                {#                                                                        <ul class="tm-slider-items uk-slider-items uk-child-width-1-4 uk-grid uk-grid-small"> #}
                                                {#                                                                            <li uk-slideshow-item="0"> #}
                                                {#                                                                                <div class="tm-ratio tm-ratio-1-1"> #}
                                                {#                                                                                    <a class="tm-media-box tm-media-box-frame"> #}
                                                {#                                                                                        <figure class="tm-media-box-wrap"> #}
                                                {#                                                                                            <img src="images/products/1/1-small.jpg" #}
                                                {#                                                                                                 alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)"> #}
                                                {#                                                                                        </figure> #}
                                                {#                                                                                    </a></div> #}
                                                {#                                                                            </li> #}
                                                {#                                                                            <li uk-slideshow-item="1"> #}
                                                {#                                                                                <div class="tm-ratio tm-ratio-1-1"> #}
                                                {#                                                                                    <a class="tm-media-box tm-media-box-frame" #}
                                                {#                                                                                       href="#"> #}
                                                {#                                                                                        <figure class="tm-media-box-wrap"> #}
                                                {#                                                                                            <img src="images/products/1/1-add-1-small.jpg" #}
                                                {#                                                                                                 alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)"> #}
                                                {#                                                                                        </figure> #}
                                                {#                                                                                    </a></div> #}
                                                {#                                                                            </li> #}
                                                {#                                                                            <li uk-slideshow-item="2"> #}
                                                {#                                                                                <div class="tm-ratio tm-ratio-1-1"> #}
                                                {#                                                                                    <a class="tm-media-box tm-media-box-frame" #}
                                                {#                                                                                       href="#"> #}
                                                {#                                                                                        <figure class="tm-media-box-wrap"> #}
                                                {#                                                                                            <img src="images/products/1/1-add-2-small.jpg" #}
                                                {#                                                                                                 alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)"> #}
                                                {#                                                                                        </figure> #}
                                                {#                                                                                    </a></div> #}
                                                {#                                                                            </li> #}
                                                {#                                                                            <li uk-slideshow-item="3"> #}
                                                {#                                                                                <div class="tm-ratio tm-ratio-1-1"> #}
                                                {#                                                                                    <a class="tm-media-box tm-media-box-frame" #}
                                                {#                                                                                       href="#"> #}
                                                {#                                                                                        <figure class="tm-media-box-wrap"> #}
                                                {#                                                                                            <img src="images/products/1/1-add-3-small.jpg" #}
                                                {#                                                                                                 alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)"> #}
                                                {#                                                                                        </figure> #}
                                                {#                                                                                    </a></div> #}
                                                {#                                                                            </li> #}
                                                {#                                                                            <li uk-slideshow-item="4"> #}
                                                {#                                                                                <div class="tm-ratio tm-ratio-1-1"> #}
                                                {#                                                                                    <a class="tm-media-box tm-media-box-frame" #}
                                                {#                                                                                       href="#"> #}
                                                {#                                                                                        <figure class="tm-media-box-wrap"> #}
                                                {#                                                                                            <img src="images/products/1/1-add-4-small.jpg" #}
                                                {#                                                                                                 alt="Apple MacBook Pro 15&quot; Touch Bar MPTU2LL/A 256GB (Silver)"> #}
                                                {#                                                                                        </figure> #}
                                                {#                                                                                    </a></div> #}
                                                {#                                                                            </li> #}
                                                {#                                                                        </ul> #}
                                                {#                                                                        <div> #}
                                                {#                                                                            <a class="uk-position-center-left-out uk-position-small" #}
                                                {#                                                                               href="#" uk-slider-item="previous" #}
                                                {#                                                                               uk-slidenav-previous></a><a #}
                                                {#                                                                                    class="uk-position-center-right-out uk-position-small" #}
                                                {#                                                                                    href="#" uk-slider-item="next" #}
                                                {#                                                                                    uk-slidenav-next></a></div> #}
                                                {#                                                                    </div> #}
                                                {#                                                                </div> #}
                                                {#                                                            </div> #}
                                                {#                                                        </div> #}
                                                {#                                                        <ul class="uk-slideshow-nav uk-dotnav uk-hidden@s"></ul> #}
                                                {#                                                    </div> #}
                                                {#                                                </div> #}
                                            </div>
                                        </div>
                                        <div class="uk-width-1-1 uk-width-1-3@m tm-product-info">
                                            <div class="uk-card-body">
                                                <div><a href="#"
                                                        title="Apple">{% if customer.firstName %}{{ customer.firstName }}{% else %}Продавец без имени{% endif %}
                                                        {#                                                        <img src="images/brands/apple.svg" #}
                                                        {#                                                                                    alt="Apple" #}
                                                        {#                                                                                    style="height: 40px;"> #}
                                                    </a></div>
                                                <div class="uk-margin">
                                                    <div class="uk-grid-small" uk-grid>
                                                        <div class="uk-flex uk-flex-middle uk-first-column">
                                                            <ul class="uk-iconnav uk-margin-xsmall-bottom tm-rating">
                                                                <li><span class="uk-text-warning uk-icon"
                                                                          uk-icon="star"><svg width="20" height="20"
                                                                                              viewBox="0 0 20 20"
                                                                                              xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                    fill="none" stroke="#000"
                                                                                    stroke-width="1.01"
                                                                                    points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                </li>
                                                                <li><span class="uk-text-warning uk-icon"
                                                                          uk-icon="star"><svg width="20" height="20"
                                                                                              viewBox="0 0 20 20"
                                                                                              xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                    fill="none" stroke="#000"
                                                                                    stroke-width="1.01"
                                                                                    points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                </li>
                                                                <li><span class="uk-text-warning uk-icon"
                                                                          uk-icon="star"><svg width="20" height="20"
                                                                                              viewBox="0 0 20 20"
                                                                                              xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                    fill="none" stroke="#000"
                                                                                    stroke-width="1.01"
                                                                                    points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                </li>
                                                                <li><span class="uk-text-warning uk-icon"
                                                                          uk-icon="star"><svg width="20" height="20"
                                                                                              viewBox="0 0 20 20"
                                                                                              xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                    fill="none" stroke="#000"
                                                                                    stroke-width="1.01"
                                                                                    points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                </li>
                                                                <li><span class="uk-text-warning uk-icon"
                                                                          uk-icon="star"><svg width="20" height="20"
                                                                                              viewBox="0 0 20 20"
                                                                                              xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                    fill="none" stroke="#000"
                                                                                    stroke-width="1.01"
                                                                                    points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                </li>
                                                            </ul>
                                                            <div class="uk-margin-xsmall-left"><a
                                                                        class="uk-text-meta js-scroll-to-description"
                                                                        href="#description"
                                                                        onclick="UIkit.switcher('.js-product-switcher').show(3);">(2)</a>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            {#                                                            <span class="uk-label uk-label-warning uk-margin-xsmall-right">top selling</span><span #}
                                                            {#                                                                    class="uk-label uk-label-danger uk-margin-xsmall-right">trade-in</span> #}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="uk-margin">
                                                    <div class="uk-padding-small uk-background-primary-lighten uk-border-rounded">
                                                        <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                                                            <div>
                                                                {#                                                                <del class="uk-text-meta">$1899.00</del> #}
                                                                <div class="tm-product-price">
                                                                    ₽{{ announcement.price }}</div>
                                                            </div>
                                                            <div>
                                                                <div class="uk-grid-small" uk-grid>
                                                                    <div>
                                                                        <a href="#"
                                                                           class="uk-button uk-button-primary tm-product-add-button tm-shine js-add-to-cart">
                                                                            Связаться с продавцом
                                                                        </a>
                                                                    </div>
                                                                    <div class="uk-width-auto uk-width-expand@s uk-flex uk-flex-middle uk-text-meta">
                                                                        <a class="uk-margin-small-right js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                                                           uk-tooltip="Add to favorites"><span
                                                                                    uk-icon="heart"></span></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="uk-margin">
                                                    <ul class="uk-list uk-text-small uk-margin-remove">
                                                        <li>
                                                            <span>{{ announcement.body }}</span>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-1 tm-product-description uk-grid-margin uk-first-column"
                                             id="description">
                                            <header>
                                                <nav class="tm-product-nav uk-sticky"
                                                     uk-sticky="offset: 0; bottom: #description; cls-active: tm-product-nav-fixed;"
                                                     style="">
                                                    <ul class="uk-subnav uk-subnav-pill js-product-switcher"
                                                        uk-switcher="connect: .js-tabs">
                                                        <li aria-expanded="true" class="uk-active"><a
                                                                    class="js-scroll-to-description"
                                                                    href="#description">Отзывы
                                                                <span>(2)</span></a></li>
                                                    </ul>
                                                </nav>
                                                <div class="uk-sticky-placeholder" style="height: 71px; margin: 0px;"
                                                     hidden=""></div>
                                            </header>
                                            <div class="uk-card-body">
                                                <div class="uk-switcher js-product-switcher js-tabs">


                                                    <section class="uk-active">
                                                        <div class="uk-grid-small uk-grid-divider uk-grid" uk-grid="">
                                                            <div class="uk-width-1-1 uk-width-1-5@s uk-text-center tm-reviews-column uk-first-column">
                                                                <div class="uk-text-meta uk-text-uppercase">Средняя
                                                                    оценка
                                                                </div>
                                                                <div class="uk-heading-primary">5.0</div>
                                                                <div class="uk-flex uk-flex-center">
                                                                    <ul class="uk-iconnav tm-rating">
                                                                        <li><span class="uk-text-warning uk-icon"
                                                                                  uk-icon="star"><svg width="20"
                                                                                                      height="20"
                                                                                                      viewBox="0 0 20 20"
                                                                                                      xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                            fill="none" stroke="#000"
                                                                                            stroke-width="1.01"
                                                                                            points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                        </li>
                                                                        <li><span class="uk-text-warning uk-icon"
                                                                                  uk-icon="star"><svg width="20"
                                                                                                      height="20"
                                                                                                      viewBox="0 0 20 20"
                                                                                                      xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                            fill="none" stroke="#000"
                                                                                            stroke-width="1.01"
                                                                                            points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                        </li>
                                                                        <li><span class="uk-text-warning uk-icon"
                                                                                  uk-icon="star"><svg width="20"
                                                                                                      height="20"
                                                                                                      viewBox="0 0 20 20"
                                                                                                      xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                            fill="none" stroke="#000"
                                                                                            stroke-width="1.01"
                                                                                            points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                        </li>
                                                                        <li><span class="uk-text-warning uk-icon"
                                                                                  uk-icon="star"><svg width="20"
                                                                                                      height="20"
                                                                                                      viewBox="0 0 20 20"
                                                                                                      xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                            fill="none" stroke="#000"
                                                                                            stroke-width="1.01"
                                                                                            points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                        </li>
                                                                        <li><span class="uk-text-warning uk-icon"
                                                                                  uk-icon="star"><svg width="20"
                                                                                                      height="20"
                                                                                                      viewBox="0 0 20 20"
                                                                                                      xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                            fill="none" stroke="#000"
                                                                                            stroke-width="1.01"
                                                                                            points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="uk-margin-small-top uk-text-meta">Основан на
                                                                    2 отзывах
                                                                </div>
                                                                <button class="uk-button uk-button-primary uk-margin-top uk-width-1-1"
                                                                        uk-toggle="target: #review">Написать отзыв
                                                                </button>
                                                            </div>
                                                            <div class="uk-width-1-1 uk-width-expand@s">
                                                                <div class="uk-grid-small uk-grid-divider uk-child-width-1-1 uk-grid uk-grid-stack"
                                                                     uk-grid="">
                                                                    <article class="uk-first-column">
                                                                        <section
                                                                                class="uk-grid-small uk-child-width-1-1 uk-grid uk-grid-stack"
                                                                                uk-grid="">
                                                                            <header class="uk-first-column">
                                                                                <div class="uk-h4 uk-margin-remove">
                                                                                    Thomas Bruns
                                                                                </div>
                                                                                <time class="uk-text-meta">May 21,
                                                                                    2018
                                                                                </time>
                                                                            </header>
                                                                            <div class="uk-grid-margin uk-first-column">
                                                                                <ul class="uk-iconnav uk-margin-bottom tm-rating">
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                </ul>
                                                                                <div><p>Lorem ipsum dolor sit amet,
                                                                                        consetetur sadipscing elitr, sed
                                                                                        diam nonumy eirmod tempor
                                                                                        invidunt ut labore et dolore
                                                                                        magna aliquyam erat, sed diam
                                                                                        voluptua. At vero eos et accusam
                                                                                        et justo duo dolores et ea
                                                                                        rebum. Stet clita kasd
                                                                                        gubergren, no sea takimata
                                                                                        sanctus est Lorem ipsum dolor
                                                                                        sit amet.</p></div>
                                                                                <div class="uk-grid-small uk-flex-middle uk-margin-top uk-grid"
                                                                                     uk-grid="">
                                                                                    <div class="uk-text-meta uk-first-column">
                                                                                        Was this review helpful to you?
                                                                                    </div>
                                                                                    <div>
                                                                                        <button class="uk-button uk-button-default uk-button-small">
                                                                                            Yes<span
                                                                                                    class="uk-margin-xsmall-left uk-text-muted">14</span>
                                                                                        </button>
                                                                                        <button class="uk-button uk-button-default uk-button-small uk-margin-small-left">
                                                                                            No<span class="uk-margin-xsmall-left uk-text-muted">2</span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </article>
                                                                    <article class="uk-grid-margin uk-first-column">
                                                                        <section
                                                                                class="uk-grid-small uk-child-width-1-1 uk-grid uk-grid-stack"
                                                                                uk-grid="">
                                                                            <header class="uk-first-column">
                                                                                <div class="uk-h4 uk-margin-remove">
                                                                                    George Clanton
                                                                                </div>
                                                                                <time class="uk-text-meta">May 24,
                                                                                    2018
                                                                                </time>
                                                                            </header>
                                                                            <div class="uk-grid-margin uk-first-column">
                                                                                <ul class="uk-iconnav uk-margin-bottom tm-rating">
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="uk-text-warning uk-icon"
                                                                                              uk-icon="star"><svg
                                                                                                    width="20"
                                                                                                    height="20"
                                                                                                    viewBox="0 0 20 20"
                                                                                                    xmlns="http://www.w3.org/2000/svg"> <polygon
                                                                                                        fill="none"
                                                                                                        stroke="#000"
                                                                                                        stroke-width="1.01"
                                                                                                        points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                                                                                    </li>
                                                                                </ul>
                                                                                <div><p>Nunc interdum odio non erat
                                                                                        commodo lacinia. Aliquam nec
                                                                                        tincidunt lorem. Nunc quis
                                                                                        scelerisque nulla. Nam nulla
                                                                                        ante, luctus non dignissim a,
                                                                                        luctus quis sem. Curabitur
                                                                                        consectetur porttitor leo. Donec
                                                                                        molestie nisl vitae lorem
                                                                                        porttitor vehicula. Etiam
                                                                                        feugiat a magna ac dapibus.
                                                                                        Donec vitae sollicitudin
                                                                                        lectus.</p>
                                                                                    <p>Sed mollis ex tincidunt posuere
                                                                                        blandit. Mauris sed tellus
                                                                                        dolor. Suspendisse nibh mi,
                                                                                        dignissim et molestie id, dictum
                                                                                        in arcu. Duis sodales
                                                                                        scelerisque quam, quis lobortis
                                                                                        felis egestas eu. Sed nibh
                                                                                        nulla, aliquet ac leo vel,
                                                                                        rutrum dignissim metus. Sed non
                                                                                        rhoncus ex. Curabitur accumsan
                                                                                        porta lacus non viverra. Etiam
                                                                                        feugiat sapien ut purus luctus,
                                                                                        eu porttitor neque volutpat.</p>
                                                                                </div>
                                                                                <div class="uk-grid-small uk-flex-middle uk-margin-top uk-grid"
                                                                                     uk-grid="">
                                                                                    <div class="uk-text-meta uk-first-column">
                                                                                        Was this review helpful to you?
                                                                                    </div>
                                                                                    <div>
                                                                                        <button class="uk-button uk-button-default uk-button-small">
                                                                                            Yes<span
                                                                                                    class="uk-margin-xsmall-left uk-text-muted">5</span>
                                                                                        </button>
                                                                                        <button class="uk-button uk-button-default uk-button-small uk-margin-small-left">
                                                                                            No<span class="uk-margin-xsmall-left uk-text-muted">0</span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </article>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section class="">
                                                        <ul class="uk-list-divider uk-list-large uk-accordion"
                                                            uk-accordion="multiple: true">
                                                            <li><a class="uk-accordion-title" href="#">Lorem ipsum dolor
                                                                    sit amet, consectetur adipiscing elit?</a>
                                                                <div class="uk-accordion-content" hidden=""
                                                                     aria-hidden="true">Vivamus imperdiet venenatis est.
                                                                    Phasellus vitae mauris imperdiet, condimentum eros
                                                                    vel, ullamcorper turpis. Maecenas sed libero quis
                                                                    orci egestas vehicula fermentum id diam.
                                                                </div>
                                                            </li>
                                                            <li><a class="uk-accordion-title" href="#">Nullam massa sem,
                                                                    mollis ut luctus at, tincidunt a lorem?</a>
                                                                <div class="uk-accordion-content" hidden=""
                                                                     aria-hidden="true">Aliquam sed dictum elit, quis
                                                                    consequat metus. Proin in mauris finibus urna
                                                                    lacinia laoreet sed id orci.
                                                                </div>
                                                            </li>
                                                            <li><a class="uk-accordion-title" href="#">Aliquam pretium
                                                                    diam et ullamcorper malesuada?</a>
                                                                <div class="uk-accordion-content" hidden=""
                                                                     aria-hidden="true">Praesent feugiat lectus faucibus
                                                                    tellus congue pharetra. In viverra vehicula
                                                                    pellentesque. Etiam consectetur ultricies magna at
                                                                    bibendum.
                                                                </div>
                                                            </li>
                                                            <li><a class="uk-accordion-title" href="#">Nulla fringilla
                                                                    sollicitudin mauris eu volutpat?</a>
                                                                <div class="uk-accordion-content" hidden=""
                                                                     aria-hidden="true">Mauris quis neque nec lectus
                                                                    aliquet malesuada. Nunc ullamcorper purus id gravida
                                                                    aliquam. Integer eget blandit urna.
                                                                </div>
                                                            </li>
                                                            <li><a class="uk-accordion-title" href="#">Nam luctus velit
                                                                    ante, id pulvinar nisl gravida eget?</a>
                                                                <div class="uk-accordion-content" hidden=""
                                                                     aria-hidden="true">Vestibulum gravida nisi tempor
                                                                    malesuada iaculis. Phasellus finibus, nisl quis
                                                                    pellentesque scelerisque, erat erat mollis massa, eu
                                                                    semper diam eros id risus. Cras vitae nisi porta.
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Related items-->


                            <section>
                                <div uk-slider="finite: true">
                                    <div class="uk-grid-small uk-flex-middle uk-margin-bottom" uk-grid><h2
                                                class="uk-width-expand uk-text-center uk-text-left@s">Похожие
                                            объявления</h2>
                                        <div class="uk-visible@s"><a class="tm-slidenav" href="#"
                                                                     uk-slider-item="previous"
                                                                     uk-slidenav-previous></a><a class="tm-slidenav"
                                                                                                 href="#"
                                                                                                 uk-slider-item="next"
                                                                                                 uk-slidenav-next></a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                            <div class="uk-position-relative">
                                                <div class="uk-slider-container">
                                                    <div class="uk-slider-items uk-grid-collapse uk-child-width-1-3 uk-child-width-1-4@m tm-products-grid">
                                                        {% for relatedAnnouncement in relatedAnnouncements %}
                                                            <article class="tm-product-card">
                                                                <div class="tm-product-card-media">
                                                                    <div class="tm-ratio tm-ratio-4-3"><a
                                                                                class="tm-media-box"
                                                                                href="{{ path('front_announcement_show', {id: relatedAnnouncement.uuid}) }}">
                                                                            <div class="tm-product-card-labels"><span
                                                                                        class="uk-label uk-label-success">new</span>
                                                                            </div>
                                                                            <figure class="tm-media-box-wrap"><img
                                                                                        src="{% if announcement.mainImageLink %}{{ announcement.mainImageLink }}{% else %}{{ asset('Resources/img/noimage.png') }}{% endif %}"
                                                                                        alt="{{ relatedAnnouncement.title }}"/>
                                                                            </figure>
                                                                        </a></div>
                                                                </div>
                                                                <div class="tm-product-card-body">
                                                                    <div class="tm-product-card-info">
                                                                        <div class="uk-text-meta uk-margin-xsmall-bottom">{{ relatedAnnouncement.category }}</div>
                                                                        <h3 class="tm-product-card-title"><a
                                                                                    class="uk-link-heading"
                                                                                    href="{{ path('front_announcement_show', {id: relatedAnnouncement.uuid}) }}">{{ announcement.title }}</a>
                                                                        </h3>

                                                                    </div>
                                                                    <div class="tm-product-card-shop">
                                                                        <div class="tm-product-card-prices">
                                                                            <div class="tm-product-card-price">
                                                                                ₽{{ relatedAnnouncement.price }}</div>
                                                                        </div>
                                                                        <div class="tm-product-card-add">
                                                                            <div class="uk-text-meta tm-product-card-actions">
                                                                                <a
                                                                                        class="tm-product-card-action js-add-to js-add-to-favorites"
                                                                                        title="Add to favorites"><span
                                                                                            uk-icon="icon: heart; ratio: .75;"></span><span
                                                                                            class="tm-product-card-action-text">Добавить в закладки</span></a>
                                                                                {#                                        <a #}
                                                                                {#                                                class="tm-product-card-action js-add-to js-add-to-compare" #}
                                                                                {#                                                title="Add to compare"><span #}
                                                                                {#                                                    uk-icon="icon: copy; ratio: .75;"></span><span #}
                                                                                {#                                                    class="tm-product-card-action-text">Add to compare</span></a> #}
                                                                            </div>
                                                                            {#                                    <button class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"> #}
                                                                            {#                                        <span class="tm-product-card-add-button-icon" uk-icon="cart"></span><span #}
                                                                            {#                                                class="tm-product-card-add-button-text">add to cart</span></button> #}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </article>
                                                        {% endfor %}


                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-top uk-hidden@s"></ul>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div id="review" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <button class="uk-modal-close-outside" type="button" uk-close></button>
                                <h2 class="uk-modal-title uk-text-center">Review</h2>
                                <form class="uk-form-stacked">
                                    <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                                        <div><label>
                                                <div class="uk-form-label uk-form-label-required">Name</div>
                                                <input class="uk-input" type="text" required></label></div>
                                        <div><label>
                                                <div class="uk-form-label uk-form-label-required">Email</div>
                                                <input class="uk-input" type="email" required></label></div>
                                        <div>
                                            <div class="uk-form-label">Rating</div>
                                            <ul class="uk-iconnav tm-rating">
                                                <li><a uk-icon="star"></a></li>
                                                <li><a uk-icon="star"></a></li>
                                                <li><a uk-icon="star"></a></li>
                                                <li><a uk-icon="star"></a></li>
                                                <li><a uk-icon="star"></a></li>
                                            </ul>
                                        </div>
                                        <div><label>
                                                <div class="uk-form-label uk-form-label-required">Review</div>
                                                <textarea class="uk-textarea" rows="5" required></textarea></label>
                                        </div>
                                        <div class="uk-text-center">
                                            <button class="uk-button uk-button-primary">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}
