.uk-button-success {
    background-color: #32d296;
    color: #fff;
    border: 1px solid transparent
}

.uk-button-success:focus, .uk-button-success:hover {
    background-color: #00e699;
    color: #fff
}

.uk-button-success.uk-active, .uk-button-success:active {
    background-color: #00e699;
    color: #fff
}

.uk-button-danger:disabled