<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Доска объявлений</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500">
    <link rel="stylesheet" href="{{ asset('Resources/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/css/custom.css') }}">
    <script src="{{ asset('Resources/js/uikit.js') }}"></script>
    <script src="{{ asset('Resources/js/uikit-icons.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="uk-offcanvas-content">
    <header>
        <div class="uk-navbar-container tm-navbar-container" uk-sticky="cls-active: tm-navbar-container-fixed">
            <div class="uk-container" uk-navbar>
                <div class="uk-navbar-left">
                    <button class="uk-navbar-toggle uk-hidden@m" uk-toggle="target: #nav-offcanvas"
                            uk-navbar-toggle-icon></button>
                    <a class="uk-navbar-item uk-logo" href="{{ path('front_home') }}"><img src="{{ asset('Resources/img/logo.svg') }}" width="90"
                                                                             height="32" alt="Logo"></a>
                    <nav class="uk-visible@m">
                        <ul class="uk-navbar-nav">
                            <li><a href="{{ path('front_announcement_filter') }}">Категории<span class="uk-margin-xsmall-left"
                                                                    uk-icon="icon: chevron-down; ratio: .75;"></span></a>
                                <div class="uk-navbar-dropdown uk-margin-remove uk-padding-remove-vertical"
                                     uk-drop="pos: bottom-justify;delay-show: 125;delay-hide: 50;duration: 75;boundary: .tm-navbar-container;boundary-align: true;pos: bottom-justify;flip: x">
                                    <div class="uk-container">
                                        <ul class="uk-navbar-dropdown-grid uk-child-width-1-5" uk-grid>
                                            <li>
                                                <div class="uk-margin-top uk-margin-bottom">
                                                    <a class="uk-link-reset"
                                                       href="{{ path('front_announcement_filter') }}">
                                                        <div class="uk-text-bolder">Хозяйство</div>
                                                    </a>
                                                    <ul class="uk-nav uk-nav-default">
                                                        <li><a href="{{ path('front_announcement_filter') }}">Овощи</a></li>
                                                        <li><a href="{{ path('front_announcement_filter') }}">Фрукты</a></li>
                                                        <li><a href="{{ path('front_announcement_filter') }}">Цветы</a></li>
                                                        <li><a href="{{ path('front_announcement_filter') }}">Для дачи</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="uk-margin-top uk-margin-bottom">
                                                    <a class="uk-link-reset"
                                                       href="{{ path('front_announcement_filter') }}">
                                                        <div class="uk-text-bolder">Морепродукты</div>
                                                    </a>
                                                    <ul class="uk-nav uk-nav-default">
                                                        <li><a href="{{ path('front_announcement_filter') }}">Рыба</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="uk-margin-top uk-margin-bottom">
                                                    <a class="uk-link-reset"
                                                       href="{{ path('front_announcement_filter') }}">
                                                        <div class="uk-text-bolder">Дичь</div>
                                                    </a>
                                                    <ul class="uk-nav uk-nav-default">
                                                        <li><a href="{{ path('front_announcement_filter') }}">Мясо</a></li>
                                                        <li><a href="{{ path('front_announcement_filter') }}">Шкура</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="uk-margin-top uk-margin-bottom">

                                                    <a class="uk-link-reset"
                                                       href="{{ path('front_announcement_filter') }}">
                                                        <div class="uk-text-bolder">Продавцы</div>
                                                    </a>
                                                    <a class="uk-link-reset"
                                                       href="{{ path('front_announcement_filter') }}">
                                                        <div class="uk-text-bolder">Услуги</div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li><a href="{{ path('front_news') }}">Новости</a></li>
                            <li><a href="{{ path('front_about') }}">О нас</a></li>
                            <li><a href="{{ path('front_contact') }}">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="uk-navbar-right"><a class="uk-navbar-toggle tm-navbar-button" href="#" uk-search-icon></a>
                    <div class="uk-navbar-dropdown uk-padding-small uk-margin-remove"
                         uk-drop="mode: click;cls-drop: uk-navbar-dropdown;boundary: .tm-navbar-container;boundary-align: true;pos: bottom-justify;flip: x">
                        <div class="uk-container">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <form class="uk-search uk-search-navbar uk-width-1-1"><input class="uk-search-input"
                                                                                                 type="search"
                                                                                                 placeholder="Поиск…"
                                                                                                 autofocus></form>
                                </div>
                                <div class="uk-width-auto"><a class="uk-navbar-dropdown-close" href="#" uk-close></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="uk-navbar-item uk-link-muted tm-navbar-button" href="{% if app.user %}{{ path('front_profile_index') }}{% else %}{{ path('front_security_login') }}{% endif %}"
                            uk-icon="user"></a>
                    {% if app.user %}
                    <div class="uk-padding-small uk-margin-remove"
                         uk-dropdown="pos: bottom-right; offset: -10; delay-hide: 200;" style="min-width: 150px;">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="account.html">Заказы
                                    <span>(2)</span></a></li>
                            <li><a href="favorites.html">Закладки
                                    <span>(3)</span></a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="{{ path('front_security_logout') }}">Выход</a></li>
                        </ul>
                    </div>
                    {% endif %}
{#                    <a class="uk-navbar-item uk-link-muted tm-navbar-button" href="cart.html"><span uk-icon="cart"></span><span#}
{#                                class="uk-badge">2</span></a>#}

                <a class="uk-navbar-item uk-link-muted tm-navbar-button " href="{{ path('front_announcement_create') }}"><span class="uk-button uk-button-success">Создать объявление</span></a></div>
            </div>
        </div>
    </header>
    <main>
        {% block body %}

        {% endblock %}
    </main>
    <footer>
        <section class="uk-section uk-section-secondary uk-section-small uk-light">
            <div class="uk-container">
                <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-4@m" uk-grid>
                    <div><a class="uk-logo" href="index.html"><img src="{{ asset('Resources/img/logo.svg') }}" width="90" height="32"
                                                                   alt="Logo"></a>
                        <p class="uk-text-small">Онлайн площадка для купли-продажи товаров собственного производства.</p>
                        <ul class="uk-iconnav">
                            <li><a href="#" title="Facebook" uk-icon="facebook"></a></li>
                            <li><a href="#" title="Twitter" uk-icon="twitter"></a></li>
                            <li><a href="#" title="YouTube" uk-icon="youtube"></a></li>
                            <li><a href="#" title="Instagram" uk-icon="instagram"></a></li>
                        </ul>
                    </div>
                    <div>
                        <nav class="uk-grid-small uk-child-width-1-2" uk-grid>
                            <div>
                                <ul class="uk-nav uk-nav-default">
                                    <li><a href="catalog.html">Категории</a></li>
                                    <li><a href="delivery.html">Доставка</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="#">Оплата</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-nav-default">
                                    <li><a href="{{ path('front_contact') }}">Контакты</a></li>
                                    <li><a href="{{ path('front_about') }}">О нас</a></li>
                                    <li><a href="news.html">Новости</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div>
                        <ul class="uk-list uk-text-small">
                            <li><a class="uk-link-muted" href="tel: {{ contact_phone }}"><span class="uk-margin-small-right"
                                                                        uk-icon="receiver"></span><span
                                            class="tm-pseudo">{{ contact_phone|phone }}</span></a></li>
                            <li><a class="uk-link-muted" href="#"><span class="uk-margin-small-right"
                                                                        uk-icon="mail"></span><span class="tm-pseudo">{{ contact_email }}</span></a>
                            </li>
                            <li>
                                <div class="uk-text-muted"><span class="uk-margin-small-right"
                                                                 uk-icon="location"></span><span>St.&nbsp;Petersburg, Nevsky&nbsp;Prospect&nbsp;28</span>
                                </div>
                            </li>
{#                            <li>#}
{#                                <div class="uk-text-muted"><span class="uk-margin-small-right"#}
{#                                                                 uk-icon="clock"></span><span>Daily 10:00–22:00</span>#}
{#                                </div>#}
{#                            </li>#}
                        </ul>
                    </div>
                    <div>
                        <form class="uk-form-stacked"><label>
                                <div class="uk-form-label uk-text-muted">Subscribe for updates</div>
                                <div class="uk-inline uk-width-1-1"><a class="uk-form-icon uk-form-icon-flip" href="#"
                                                                       uk-icon="mail"></a><input class="uk-input"
                                                                                                 type="email"
                                                                                                 placeholder="Your email"
                                                                                                 required></div>
                            </label></form>
                        <div class="uk-margin uk-text-small uk-text-muted">Shopping Categories icons by Jaro Sigrist
                            from Noun Project
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <div id="nav-offcanvas" uk-offcanvas="overlay: true">
        <aside class="uk-offcanvas-bar uk-padding-remove">
            <div class="uk-card uk-card-default uk-card-small tm-shadow-remove">
                <nav class="uk-card-small uk-card-body">
                    <ul class="uk-nav-default uk-nav-parent-icon uk-list-divider" uk-nav>
                        <li class="uk-parent"><a href="catalog.html">Catalog</a>
                            <ul class="uk-nav-sub uk-list-divider">
                                <li><a href="subcategory.html">Laptops &amp; Tablets</a></li>
                                <li><a href="subcategory.html">Phones &amp; Gadgets</a></li>
                                <li><a href="subcategory.html">TV &amp; Video</a></li>
                                <li><a href="subcategory.html">Games &amp; Entertainment</a></li>
                                <li><a href="subcategory.html">Photo</a></li>
                                <li class="uk-text-center"><a class="uk-link-muted uk-text-uppercase tm-link-to-all"
                                                              href="catalog.html"><span>Посмотреть все</span><span
                                                uk-icon="icon: chevron-right; ratio: .75;"></span></a></li>
                            </ul>
                        </li>
                        <li class="uk-parent"><a href="brands.html">Brands</a>
                            <ul class="uk-nav-sub uk-list-divider">
                                <li><a href="subcategory.html">Apple</a></li>
                                <li><a href="subcategory.html">Samsung</a></li>
                                <li><a href="subcategory.html">Sony</a></li>
                                <li><a href="subcategory.html">Microsoft</a></li>
                                <li><a href="subcategory.html">Intel</a></li>
                                <li><a href="subcategory.html">HP</a></li>
                                <li><a href="subcategory.html">LG</a></li>
                                <li><a href="subcategory.html">Lenovo</a></li>
                                <li><a href="subcategory.html">ASUS</a></li>
                                <li><a href="subcategory.html">Acer</a></li>
                                <li><a href="subcategory.html">Dell</a></li>
                                <li><a href="subcategory.html">Canon</a></li>
                                <li class="uk-text-center"><a class="uk-link-muted uk-text-uppercase tm-link-to-all"
                                                              href="brands.html"><span>Посмотреть все</span><span
                                                uk-icon="icon: chevron-right; ratio: .75;"></span></a></li>
                            </ul>
                        </li>
                        <li class="uk-parent"><a href="#">Pages</a>
                            <ul class="uk-nav-sub uk-list-divider">
                                <li><a href="subcategory.html">Catalog</a></li>
                                <li><a href="subcategory.html">Category</a></li>
                                <li><a href="subcategory.html">Subcategory</a></li>
                                <li><a href="subcategory.html">Product</a></li>
                                <li><a href="subcategory.html">Cart</a></li>
                                <li><a href="subcategory.html">Checkout</a></li>
                                <li><a href="subcategory.html">Compare</a></li>
                                <li><a href="subcategory.html">Brands</a></li>
                                <li><a href="subcategory.html">Compare</a></li>
                                <li><a href="subcategory.html">Account</a></li>
                                <li><a href="subcategory.html">Favorites</a></li>
                                <li><a href="subcategory.html">Personal</a></li>
                                <li><a href="subcategory.html">Settings</a></li>
                                <li><a href="subcategory.html">About</a></li>
                                <li><a href="subcategory.html">Contacts</a></li>
                                <li><a href="subcategory.html">Blog</a></li>
                                <li><a href="subcategory.html">News</a></li>
                                <li><a href="subcategory.html">Article</a></li>
                                <li><a href="subcategory.html">FAQ</a></li>
                                <li><a href="subcategory.html">Delivery</a></li>
                                <li><a href="subcategory.html">404</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="compare.html">Compare<span class="uk-badge uk-margin-xsmall-left">3</span></a></li>
                    </ul>
                </nav>
                <nav class="uk-card-small uk-card-body">
                    <ul class="uk-nav uk-nav-default">
                        <li><a href="news.html">News</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="#">Payment</a></li>
                    </ul>
                </nav>
                <nav class="uk-card-body">
                    <ul class="uk-iconnav uk-flex-center">
                        <li><a href="#" title="Facebook" uk-icon="facebook"></a></li>
                        <li><a href="#" title="Twitter" uk-icon="twitter"></a></li>
                        <li><a href="#" title="YouTube" uk-icon="youtube"></a></li>
                        <li><a href="#" title="Instagram" uk-icon="instagram"></a></li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
</div>
<script src="{{ asset('Resources/js/script.js') }}"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyClyjCemJi4m2q78gNeGkhlckpdH1hzTYA&amp;callback=initMap" async
        defer></script>
{% block javascript %}

{% endblock %}
</body>
</html>