{% extends 'base.html.twig' %}

{% block body %}
    {#    <section class="uk-position-relative uk-visible-toggle uk-light" #}
    {#             uk-slideshow="min-height: 300; max-height: 600;"> #}
    {#        <ul class="uk-slideshow-items"> #}
    {#            <li style="background-color: #0b0a12"><a href="#"> #}
    {#                    <figure class="uk-container uk-height-1-1"><img src="images/promo/macbook-new.jpg" #}
    {#                                                                    alt="New Macbook" width="1200" height="600" #}
    {#                                                                    uk-cover></figure> #}
    {#                </a></li> #}
    {#            <li style="background-color: #ce071e"><a href="#"> #}
    {#                    <figure class="uk-container uk-height-1-1"><img src="images/promo/iphone.jpg" alt="iPhone" #}
    {#                                                                    width="1200" height="600" uk-cover></figure> #}
    {#                </a></li> #}
    {#            <li style="background-color: #1f2024"><a href="#"> #}
    {#                    <figure class="uk-container uk-height-1-1"><img src="images/promo/ipad.jpg" alt="iPad" #}
    {#                                                                    width="1200" height="600" uk-cover></figure> #}
    {#                </a></li> #}
    {#        </ul> #}
    {#        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slideshow-item="previous" #}
    {#           uk-slidenav-previous></a><a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" #}
    {#                                       uk-slideshow-item="next" uk-slidenav-next></a> #}
    {#        <div class="uk-position-bottom-center uk-position-small"> #}
    {#            <ul class="uk-slideshow-nav uk-dotnav"></ul> #}
    {#        </div> #}
    {#    </section> #}
    <section class="uk-section uk-section-default uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-small uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-6@m" uk-grid>
                {% for group in groups %}
                    <div>
                        <a class="uk-link-muted uk-text-center uk-display-block uk-padding-small uk-box-shadow-hover-large"
                           href="#">
                            <div class="tm-ratio tm-ratio-4-3">
                                <div class="tm-media-box">
                                    <figure class="tm-media-box-wrap"><img class="item-brand"
                                                                           src="{{ asset('Resources/img/types/') }}{{ group.image }}"
                                                                           alt="Cameras"></figure>
                                </div>
                            </div>
                            <div class="uk-margin-small-top">
                                <div class="uk-text-truncate">{{ group.name }}</div>
                                <div class="uk-text-meta uk-text-xsmall uk-text-truncate">от ₽100</div>
                            </div>
                        </a></div>
                {% endfor %}
            </div>
            <div class="uk-margin uk-text-center"><a class="uk-link-muted uk-text-uppercase tm-link-to-all"
                                                     href="{{ path('front_announcement_filter') }}"><span>Посмотреть все</span><span
                            uk-icon="icon: chevron-right; ratio: .75;"></span></a></div>
        </div>
    </section>
    <section class="uk-section uk-section-small">
        <div class="uk-container"><h2 class="uk-text-center">Популярные объявления</h2>
            <div class="uk-card uk-card-default tm-ignore-container">
                <div class="uk-grid-collapse uk-child-width-1-3 uk-child-width-1-4@m tm-products-grid" uk-grid>
                    {% for announcement in announcements %}
                        <article class="tm-product-card">
                            <div class="tm-product-card-media">
                                <div class="tm-ratio tm-ratio-4-3"><a class="tm-media-box" href="{{ path('front_announcement_show', {id: announcement.uuid}) }}">
                                        <div class="tm-product-card-labels"><span
                                                    class="uk-label uk-label-success">new</span></div>
                                        <figure class="tm-media-box-wrap"><img
                                                    src="{% if announcement.mainImageLink %}{{ announcement.mainImageLink }}{% else %}{{ asset('Resources/img/noimage.png') }}{% endif %}"
                                                    alt="{{ announcement.title }}"/>
                                        </figure>
                                    </a></div>
                            </div>
                            <div class="tm-product-card-body">
                                <div class="tm-product-card-info">
                                    <div class="uk-text-meta uk-margin-xsmall-bottom">{{ announcement.category }}</div>
                                    <h3 class="tm-product-card-title"><a class="uk-link-heading" href="{{ path('front_announcement_show', {id: announcement.uuid}) }}">{{ announcement.title }}</a></h3>

                                </div>
                                <div class="tm-product-card-shop">
                                    <div class="tm-product-card-prices">
                                        <div class="tm-product-card-price">₽{{ announcement.price }}</div>
                                    </div>
                                    <div class="tm-product-card-add">
                                        <div class="uk-text-meta tm-product-card-actions"><a
                                                    class="tm-product-card-action js-add-to js-add-to-favorites"
                                                    title="Add to favorites"><span
                                                        uk-icon="icon: heart; ratio: .75;"></span><span
                                                        class="tm-product-card-action-text">Добавить в закладки</span></a>
                                            {#                                        <a #}
                                            {#                                                class="tm-product-card-action js-add-to js-add-to-compare" #}
                                            {#                                                title="Add to compare"><span #}
                                            {#                                                    uk-icon="icon: copy; ratio: .75;"></span><span #}
                                            {#                                                    class="tm-product-card-action-text">Add to compare</span></a> #}
                                        </div>
                                        {#                                    <button class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart"> #}
                                        {#                                        <span class="tm-product-card-add-button-icon" uk-icon="cart"></span><span #}
                                        {#                                                class="tm-product-card-add-button-text">add to cart</span></button> #}
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class="uk-margin uk-text-center"><a class="uk-link-muted uk-text-uppercase tm-link-to-all"
                                                     href="{{ path('front_announcement_filter') }}"><span>Посмотреть все</span><span
                            uk-icon="icon: chevron-right; ratio: .75;"></span></a></div>
        </div>
    </section>


    <section class="uk-section uk-section-default uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-2@s" uk-grid>
                <section><h2 class="uk-text-center uk-text-left@s">О нас</h2>
                    <p>Агрокомпленкс - онлайн площадка, где вы можете купить или продать товары собственного
                        производства,
                        без посредников, по самым низким ценам.</p>
                    {#                    <p>Quisque rhoncus fermentum sapien id congue. Nam at rutrum turpis. Aliquam sagittis imperdiet #}
                    {#                        tortor vel dignissim. Ut ipsum nunc, egestas et odio id, vestibulum posuere orci. Orci #}
                    {#                        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> #}
                    <div class="uk-text-center uk-text-left@s"><a
                                class="uk-link-muted uk-text-uppercase tm-link-to-all"
                                href="{{ path('front_about') }}"><span>Читать дальше</span><span
                                    uk-icon="icon: chevron-right; ratio: .75;"></span></a></div>
                </section>
                <section><h2 class="uk-text-center uk-text-left@s">Последние новости</h2>
                    <ul class="uk-list uk-list-small uk-list-divider">
                        {% for news in newsList %}
                            <li>
                                <article class="uk-article">
                                    <div class="uk-article-body">
                                        <div class="uk-article-meta uk-margin-xsmall-bottom">
                                            <time>{{ news.createDate|format_date }}</time>
                                        </div>
                                        <h3 class="uk-h4 uk-margin-remove"><a class="uk-link-heading"
                                                                              href="{{ path('front_news_show', {id: news.uuid}) }}">{{ news.title }}</a>
                                        </h3>
                                        <div class="uk-margin-xsmall-top uk-text-small"><p>{{ news.body }}</p></div>
                                    </div>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="uk-margin uk-text-center uk-text-left@s"><a
                                class="uk-link-muted uk-text-uppercase tm-link-to-all"
                                href="{{ path('front_news') }}"><span>Посмотреть все</span><span
                                    uk-icon="icon: chevron-right; ratio: .75;"></span></a></div>
                </section>
            </div>
        </div>
    </section>
    {#    <section class="uk-section uk-section-primary uk-section-small uk-light"> #}
    {#        <div class="uk-container"> #}
    {#            <div class="uk-text-center"> #}
    {#                <div class="uk-h2 uk-margin-remove">Subscribe for updates</div> #}
    {#                <div>Be aware of new products and special offers.</div> #}
    {#            </div> #}
    {#            <div class="uk-margin"> #}
    {#                <form> #}
    {#                    <div class="uk-grid-small uk-flex-center" uk-grid> #}
    {#                        <div class="uk-width-1-1 uk-width-medium@s"> #}
    {#                            <div class="uk-inline uk-width-1-1"><span class="uk-form-icon" #}
    {#                                                                      uk-icon="mail"></span><input class="uk-input" #}
    {#                                                                                                   type="email" #}
    {#                                                                                                   placeholder="Your email" #}
    {#                                                                                                   required></div> #}
    {#                        </div> #}
    {#                        <div> #}
    {#                            <button class="uk-button uk-button-primary">subscribe</button> #}
    {#                        </div> #}
    {#                    </div> #}
    {#                </form> #}
    {#            </div> #}
    {#        </div> #}
    {#    </section> #}
    {#    <section class="uk-section uk-section-default uk-section-small"> #}
    {#        <div class="uk-container"> #}
    {#            <div uk-slider> #}
    {#                <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-5@m uk-grid"> #}
    {#                    <li> #}
    {#                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid> #}
    {#                            <div><span uk-icon="icon: star; ratio: 2.5;"></span></div> #}
    {#                            <div class="uk-text-center uk-text-left@s uk-width-expand@s"> #}
    {#                                <div>Mauris placerat</div> #}
    {#                                <div class="uk-text-meta">Donec mollis nibh dolor, sit amet auctor</div> #}
    {#                            </div> #}
    {#                        </div> #}
    {#                    </li> #}
    {#                    <li> #}
    {#                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid> #}
    {#                            <div><span uk-icon="icon: receiver; ratio: 2.5;"></span></div> #}
    {#                            <div class="uk-text-center uk-text-left@s uk-width-expand@s"> #}
    {#                                <div>Lorem ipsum</div> #}
    {#                                <div class="uk-text-meta">Sit amet, consectetur adipiscing elit</div> #}
    {#                            </div> #}
    {#                        </div> #}
    {#                    </li> #}
    {#                    <li> #}
    {#                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid> #}
    {#                            <div><span uk-icon="icon: location; ratio: 2.5;"></span></div> #}
    {#                            <div class="uk-text-center uk-text-left@s uk-width-expand@s"> #}
    {#                                <div>Proin pharetra</div> #}
    {#                                <div class="uk-text-meta">Nec quam a fermentum ut viverra</div> #}
    {#                            </div> #}
    {#                        </div> #}
    {#                    </li> #}
    {#                    <li> #}
    {#                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid> #}
    {#                            <div><span uk-icon="icon: comments; ratio: 2.5;"></span></div> #}
    {#                            <div class="uk-text-center uk-text-left@s uk-width-expand@s"> #}
    {#                                <div>Praesent ultrices</div> #}
    {#                                <div class="uk-text-meta">Praesent ultrices, orci nec finibus</div> #}
    {#                            </div> #}
    {#                        </div> #}
    {#                    </li> #}
    {#                    <li> #}
    {#                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid> #}
    {#                            <div><span uk-icon="icon: happy; ratio: 2.5;"></span></div> #}
    {#                            <div class="uk-text-center uk-text-left@s uk-width-expand@s"> #}
    {#                                <div>Duis condimentum</div> #}
    {#                                <div class="uk-text-meta">Pellentesque eget varius arcu</div> #}
    {#                            </div> #}
    {#                        </div> #}
    {#                    </li> #}
    {#                </ul> #}
    {#                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"></ul> #}
    {#            </div> #}
    {#        </div> #}
    {#    </section> #}
{% endblock %}